<div class="text-center">
<div class="contants">
  <div class="rink">
<h2>ユーザー</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
      <div class="item">
        <li><a><%= image_tag user.icon, class: 'icon' %></a></li>
        <li><a><%= link_to user.name, user %></a></li>
        <li><a><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></a></li>
      </div>
      <br>
    <li><%= render 'follow_form', user: user %>
    </li>
  <% end %>
<% end %>
<br>
<br>
<li><a><%= link_to "戻る", root_path %></a></li>
</div>
</div>
</div>
