<div class ="t_menu">
<div class="contants">
<h3>プロフィール登録</h3>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %>
      prohibited this @user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="user_table">
<table class = "user_form">

<%= form_with(model: @user, local: true) do |f| %>
<tr>
<div class="sin_up">
  <th><%= f.label :名前 %></th>
  <th><%= f.text_field :name %></th>
</div>
</tr>
<br>

<tr>
<div class="sin_up">
  <th><%= f.label :メールアドレス %></th>
  <th><%= f.email_field :email %></th>
</div>
</tr>

<br>
<tr>
<div class="sin_up">
  <th><%= f.label :パスワード %></th>
  <th><%= f.password_field :password %></th>
</div>
</tr>

<br>
<tr>
<div class="sin_up">
  <th><%= f.label :同じパスワードを入力 %></th>
  <th><%= f.password_field :password_confirmation %></th>
</div>
</tr>
</table>
</div>
<br>
<div class="user_edit">
<div class = "field">
  <div class ="mx-auto" style ="width: 200px;">
  <%= f.label :ユーザー画像 %>
  <%= image_tag(@user.icon.url, class: 'icon') if @user.icon.url %>
  <%= f.file_field :icon %>
  </div>
  </div>
  </div>
  <br>
  <%= f.submit "登録", class: 'botton' %>
<% end %>
</div>
</div>
