<div class="container">
<br><%= image_tag @user.icon, class: 'icon' %>
<h1><%= @user.name %>のページ</h1>
<p><%= notice %></p>
<br>
<% if logged_in? %>
<% if post.user_id == current_user.id %>
<li><%= link_to "編集", edit_user_path, class: 'botton' %></li>
<br>
<li><%= link_to "お気に入り", favorite_posts_path, class: 'b_botton' %></li>
<br>
<li><%= link_to "フォロー", following_user_path(@user) %></li>
<li>
  <%= link_to "フォロワー", followers_user_path(@user) %>
  </li>
  <% end %>
  <% end %>
<h2>
  <%= @user.name %>さんの投稿
  </h2>
<% @posts.each do |post| %>
  <div class="col-xs-12 col-md-6">
    <p><%= image_tag post.image, class: 'img-responsive center-block' %></p>
    <p><%= post.content %></p>
    <% end %>

</div>
