<div class="text-center">
<div class="contants">
<p><%= notice %></p>
<h1>お気に入り一覧</h1>
  <% @user.favorite_post_images.each do |post| %>
    <br>投稿者:<%= post.user.name %>
    <br><%= image_tag post.image, class: 'img-responsive' %>
    <br>コメント:<%= post.content %>
    <% end %>
    <div class="rink">

<li><a><%= link_to "戻る", user_path(current_user.id) %></a></li>
</div>
</div>
</div>
